.onboarding-btn {
    background-color: aliceblue !important;
}
.button-native{
    text-decoration: none!important;
}
.youtube-view iframe {
    width: 100%;
    height: 228px;
    position: relative;
    border-radius: 12px;
}
.thumbnail-image #shadow-root img {
    border-radius: 12px;
}
.native-textarea{
    width: 100%;
}